<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns		="http://www.w3.org/ns/widgets"
	xmlns:gap	="http://phonegap.com/ns/1.0"
	id		="nl.stichtingtoegankelijkehoreca.app"
	versionCode 	="1"
	version		="1.0.0"  >
    
	<name>HorecaAccess</name>
    
	<description>Stichting Toegankelijke Horeca helpt om horeca in Nederland toegankelijk te maken voor iedereen</description>
    
	<author href = "http://www.stichtingtoegankelijkehoreca.nl" email = "info@stichtingtoegankelijkehoreca.nl">
		Roeland Verbakel
	</author>

	<preference name="orientation" value="portrait" />  

	<icon src="icon.png" />
	
    <content src="http://www.stichtingtoegankelijkehoreca.nl" subdomains="true"></content>
	<access origin="*"></access>
    <allow-navigation href="*" />
	
</widget>
